* {
    color: var(--text-color);
}

.webpage {
    height: 100vh;
    max-width: 1600px;
    padding: 0 100px 0 100px;
    display: flex;
    flex-direction: column;
}

.cards {
    background-color: var(--clear-color);
    border-radius: 12px;
    backdrop-filter: var(--blur);
    border: 1px solid rgba(255, 255, 255, 0.368);
    box-shadow: var(--boxshadow);
    padding: 30px;
}
