:root {
    max-width: 100%;
    overflow-x: hidden;
    --bg-color: #3b3949;
    --text-color: rgb(255, 255, 255);
    --dark-text-color: #434a42;
    --blue-text: #999cf8
    --clear-color: rgba(255, 255, 255, 0.1)
    --filler: #27474e;
    --boxshadow: 2px 2px 2px rgb(0 0 0 / 10%);
    --blur: blur(4px);
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a{
    text-decoration: none;
}
