:root {
    --filler: #ff9b71;
}
* {
    margin: 0;
    padding: 0;
}

.progress-bar {
    display: block;
    height: 15px;
    width: 200px;
    border-radius: 8px;
    background-color: gray;
}

.filler {
    border-radius: 8px;
    display: flex;
    height: 100%;
    background-color: var(--filler);
    animation: transitionIn 1s forwards ease-out;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        width: 0;
    }

    to {
        opacity: 1;
        width: var(--fill-width);
    }
}
